#ignore temp files (like created by gedit)
*~

/src/App.c
/src/App.o
/src/App.vapi
/src/ApplicationHandler.c
/src/ApplicationHandler.o
/src/ApplicationHandler.vapi
/src/Constants.c
/src/Constants.o
/src/Constants.vapi
/src/IconDirectory.c
/src/IconDirectory.o
/src/IconDirectory.vapi
/src/IconManager.c
/src/IconManager.o
/src/IconManager.vapi
/src/IconTheme.c
/src/IconTheme.o
/src/IconTheme.vapi
/src/Printer.c
/src/Printer.o
/src/Printer.vapi
